@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    /* #121212 */
    --foreground: 0 0% 100%;

    --card: 0 0% 9%;
    /* #181818 */
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 100%;

    --primary: 141 73% 42%;
    /* #1DB954 */
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 16%;
    /* #282828 */
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 70%;
    /* #B3B3B3 */

    --accent: 0 0% 16%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 141 73% 42%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}